APP=watering_system
DOMAIN=watering_system.pl

# Database
DATABASE_HOST=127.0.0.1
DATABASE_NAME=database
DATABASE_USER=postgres
DATABASE_PASS=postgres
DATABASE_PORT=5432

# Settings
DEBUG=False
ALLOWED_HOSTS=0.0.0.0,
CSRF_MORE_ORIGINS=
SECRET_KEY="S3cR3TK3y"

# Email
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DEFAULT_FROM_EMAIL=
EMAIL_HOST=smtp.gmail.com
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_PORT=465
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=