{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% csrf_token %}

{% block title %}
  {{ block.super }} - {% trans 'Door opener' %}
{% endblock %}

{% block active_nav_link %}2{% endblock %}

{% block content %}
  <h1 class="text-center mt-3">{% trans 'Door opener' %}</h1>
  <hr class="my-4">

  <div id="door_opener" class="container text-center">
    <h3 class="mb-2">{% trans 'Click button to open/close door.' %}</h3>

    <button id="door_opener_btn" class="btn btn-primary py-3 px-5 my-4">Start</button>

    <p id="door_opener_messages" class="alert alert-info w-50 mx-auto"></p>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    document.addEventListener("DOMContentLoaded", () => {
        window.closeDoorUrl = "{% url 'door_opener:close_door' %}";
        window.openDoorUrl = "{% url 'door_opener:open_door' %}";
        window.doorStatusUrl = "{% url 'door_opener:door_status' %}";

        window.doorStatuses = JSON.parse('{{ door_statuses|safe }}');
        window.doorStatusesDisplay = JSON.parse('{{ door_statuses_display|safe }}');
    })
  </script>

  <script src="{% static 'js/doorOpener.js' %}"></script>
{% endblock %}