{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Mini smart home{% endblock %}</title>

  <!-- Bootstrap -->
  <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  {% block extra_css %}{% endblock %}
</head>
<body>
  <form class="position-absolute top-25 end-0 pe-5" action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'en' %}
      {% language 'pl' %}
        <button type="submit"
                name="language"
                value="pl"
                class="btn btn-info">
          PL
        </button>
      {% endlanguage %}
    {% elif LANGUAGE_CODE == 'pl' %}
      {% language 'en' %}
        <button type="submit"
                name="language"
                value="en"
                class="btn btn-info">
          EN
        </button>
      {% endlanguage %}
    {% endif %}
  </form>

  {% block content %}{% endblock %}

  <!-- Bootstrap -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  <script src="{% static 'js/getCookie.js' %}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
        window.csrfToken = getCookie('csrftoken');
    })
  </script>
  <script src="{% static 'js/sendRequest.js' %}"></script>

  {% block extra_js %}{% endblock %}
</body>
</html>