$black: #000;
$text-color: #000;
$primary: #f8f9fa;
$secondary: #0dcaf0 ;
$secondary-transparent: #0dcaf090;
$success: #198754;
$success-transparent: #19875490;
$danger: #dc3545;
$danger-transparent: #dc354590;

@keyframes rotateUp {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

@keyframes rotateDown {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotate-up {
  -webkit-animation: rotateUp .2s linear;
  -moz-animation: rotateUp .2s linear;
  -ms-animation: rotateUp .2s linear;

  transform: rotate(180deg);
}
.rotate-down {
  -webkit-animation: rotateDown .2s linear;
  -moz-animation: rotateDown .2s linear;
  -ms-animation: rotateDown .2s linear;

  transform: rotate(0);
}
.rotate-up-no-animation {
  transform: rotate(180deg);
}
.rotate-down-no-animation {
  transform: rotate(0);
}

.panel-body {
  display: flex;
  flex-direction: row;
}

#header_collapse_icon {
  display: none;
  border-left: 1px solid $black;

  i {
    padding: .8em;
    background-color: $primary;
    border: 1px solid $black;
    border-left: none;
    cursor: pointer;

    transition: background-color .2s ease-in;

    &:hover {
      background-color: $secondary;
    }
  }
}

.side-header {
  display: flex;
  flex-direction: row-reverse;

  position: relative;
  float: left;
  top: 0;
  left: 0;

  width: min-content;
  height: 100vh;
  z-index: 800;
}

.side-header.header-pop {
    transform: translateX(0);
}

.sidebar {
  min-width: 15vw;
  max-width: 25vw;

  background: $primary;
  color: $text-color;

  .side-navbar {
    display: grid;
    grid-template-rows: min-content 1fr 10vh;

    margin-bottom: 0;
    padding: 0;

    height: 100vh;
  }

  .nav-list {
    list-style: none;

    border-top: 3px solid $black;
    border-bottom: 3px solid $black;

    margin: 0;
    padding: 0;

    width: 100%;
    overflow: scroll;
  }

  .nav-item {
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;

    &:first-child {
      border-top: none;
    }

    .nav-link {
      display: block;
      color: $black;
      text-decoration: none;
      font-size: 1.2em;
      padding: 1.5rem 2rem;
      white-space: nowrap;

      &:hover {
        background-color: $secondary-transparent;
      }
    }

    .nav-link.active, .sub-link.active {
      background-color: $secondary;
    }

    .dropdown {
      position: relative;

      .sub-items-collapse-icon {
        padding: 6px;
        top: calc(50% - 18px);
        position: absolute;
        right: 7%;

        cursor: pointer;

        &:hover {
          color: #198754;
        }
      }
    }

    .sub-nav-list {
      list-style: none;
      padding-left: 0;

      max-height: 0;
      transition: max-height .2s linear;
      overflow: hidden;

      .sub-link {
        display: block;
        color: $black;
        text-decoration: none;
        font-size: .9em;
        padding: 1rem 1.5rem 1rem 2.5rem;
        white-space: nowrap;

        &:hover {
          background-color: $secondary-transparent;
        }
      }
    }
  }

  .logout-btn {
    width: 100%;

    form {
      height: 100%;

      input {
        font-size: 2em;

        width: 100%;
        height: 100%;

        border: none;
        background-color: $primary;

        &:hover {
          background-color: $danger-transparent;
        }
      }
    }
  }
}

.user-id {
  min-width: max-content;
}

.panel-container {
  width: 100%;
  height: 100vh;

  overflow-x: auto;
  overflow-y: scroll;
}

.panel-content-wrap {
  min-height: calc(100vh - 3em);

  padding: 1em 1.2em .5em 1.2em;
}

.panel-footer {
  height: 3em;
  width: 100%;
}

@media(max-width: 1630px) {
  #header_collapse_icon {
    display: block;
  }

  .side-header {
    position: absolute;
    transition: transform .3s linear;
    transform: translateX(calc(-100% + 2.6em));
    width: auto;
  }

  .sidebar {
    min-width: 25vw;
    max-width: 35vw;
  }

  .panel-content-wrap {
    padding: 1em 2em .5em 2em;
  }
}

@media(max-width: 830px) {
  .side-header {
    width: auto;
  }

  .sidebar {
    min-width: 50vw;
    max-width: calc(100vw - 2.6em);
    overflow: hidden;
  }
}